# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\N_Java_spring\Reactive-Programming\v1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
